<div class="container">
  <h1>Log out</h1>

  <form action="/sessions" method="post">
    <input type="submit" value="logout" />
    <input type="hidden" name="_method" value="delete">
  </form>

</div>
