<div id="streak">

  <div class="streak"><span class="glyphicon glyphicon-ok"></span></div>
  <div class="streak"></div>
  <div class="streak"><span class="glyphicon glyphicon-ok"></span></div>


</div>
