totalDays = How many days in the current month
Loop and make as many .streak div's as totalDays
Every div should know it's day and should trigger a bubble on mouse over

Every day should know


<div>

  <div class="streak"><span class="glyphicon glyphicon-ok"></span></div>
  <div class="streak"></div>
  <div class="streak"><span class="glyphicon glyphicon-ok"></span></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
  <div class="streak"></div>
</div>
