<div class="container">
<div class="error"></div>
<form action="/edit" method="post">
  <input type="hidden" name="id" value="<%=@journal.id%>">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Save">
  <input type="submit" name="_method" value="Delete">
  <br>
  <div class="timestamp">Tuesday, May 12, 2015</div>
  <textarea autofocus class="content" name="content" rows="30" cols="100"><%=@journal.content%></textarea>
</form>

  <div id="result">
      Words: <span id="wordCount">0</span><br/>
  </div>

</div>


