<div class="container">
<div class="error"></div>
<form action="/:id" method="post">
  <input type="hidden" name="id" value="<%=@journal.day%>">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Save">
  <div class="timestamp">Tuesday, May 12, 2015</div>
  <textarea autofocus class="content" name="content" rows="30" cols="100"><%=@journal.content%></textarea>
</form>

  <div id="result">
      Words: <span id="word-count">0</span><br/>
      <span id="auto-save"></span>
  </div>

</div>


