<div class="container">

<a href="/new"><input type="button" value="New post"></a>

<ul>Here are your notes:
  <% @journals.each do |journal| %>
    <li><a href="/post/<%= note.id %>"><%= journal.content %></a></li>
  <% end %>
</ul>

</div>
