<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
  <!--
    application.css is where you put your styles
  -->
<link href='http://fonts.googleapis.com/css?family=Cardo:700' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/application.js"></script>

  <title>Get motivated to do creative writing</title>
</head>
<body>

<nav>
    <div class="brand">writenow</div>
    <ul>
      <% if current_user %>
          <form action="/logout" method="post">
          <span class="welcome">Welcome, <%= @users.find(current_user.id).first_name%></span>
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Log out"></form>

      <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>


</body>
</html>



