
<form action="/new" method="post">
  <input type="submit" value="Save">
  <br>
  <textarea autofocus name="content" placeholder="You can start typing here..." rows="30" cols="120"></textarea>
</form>

