<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/signup">
    First name
    <input type="text" name="user[firstname]">
    <br>

    Last name
    <input type="text" name="user[lastname]">
    <br>

    Email
    <input type="email" name="user[email]">
    <br>

    Password
    <input type="password" name="user[password]">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
